*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    background: rgb(211, 211, 211);
    color: black;
    text-decoration: none;
}
h3{
    color: black;
}
.app{
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: rgb(211, 211, 211);
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.header__nav{
    display: flex;
}
.header__nav-item{
    background: rgb(211, 211, 211);
    padding: 15px 30px;
}
.header__nav-item:hover {
    background-color: rgb(179, 179, 179);
    color: rgb(211, 211, 211);
}
.header__email{
    background: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.information{
    color: white;
    background-color: black;
    text-align: center;
    padding: 80px;
}